@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&family=Teko:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#48487f;
}

body{
    font-family: 'poppins' ,sans-serif;
}


#header{
    box-shadow:0px 0px 8px rgba(54, 54, 54, 0.589);
    
}

.headerContainer{
    max-width: 1800px;
    margin: 0 auto;
}


.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.leftContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.leftContent .logo{
     color: var(--primary-color);
     font-size: 18px;
     
}

.rightContent .Items{
    display: flex;
}

.Items .item{
    list-style: none;
    margin:0px 20px;
    color: var(--primary-color);
}
.link{
    color: var(--primary-color);
    text-decoration: none;
   
    display: flex;
    align-items: center;
    gap: 10px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*Hero section*/
    #hero{
        margin-top: 100px;
        text-align: center;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
    }

    .leftContentHero{
        text-align: center;
        margin:  0 auto;
    }




    .title{
        color: var(--primary-color);
        font-weight: 700;
        font-size: 45px;
        font-family: 'poppins' ,sans-serif;
    }
    .text{
        font-size: 16;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .image{
        width: 100%;
        margin-top: 70px;
    }

    .btnHero{
        padding: 20px  35px;
        border: none;
        background: var(--primary-color);
        color: white;
        transition: .5s ease-in-out;
    }

    .btnHero:hover{
        background-color: #7070a8;
    }

/*End of Hero section*/


/*start of Temo section*/
.temo{
    margin-top: 100px;

}

.line{
    width: 70px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
}

.titleTemo{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


.contentTemo{
    display: flex;
 
    justify-content: space-between;
    flex-wrap: wrap;
}

.textTemo{
    max-width: 350px;
    margin: 40px auto;
}

.temp{
    color: rgb(190, 190, 190);
}

.starts{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.par{
    
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}

.linkTem{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}


.links{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    margin-bottom: 50px;
}
.linkTem1{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    
}
/*End of Temo section*/

/*about section*/
.About{
    background-color: rgb(245, 245, 245);
    padding: 50px;
    margin-bottom: 100px;
}
.contentAbout{
    padding: 20px 80px;
}
.textAbout{
    margin-bottom: 40px;
    font-weight: 500;
}
/*End about section*/

/*gallery section*/
.contentGallery{
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.contentGallery a{
    margin: 0 auto;
}
.imageGall{
    max-width: 350px;
    height: 370px;
    
    margin: 20px auto;
    
    text-align: center;
}

/*End of gallery section*/























@media  (max-width:1200px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
    }


}

@media  (max-width:900px) {
    .rightContent .Items{
        display: none;
    }

   
    
}

@media  (max-width:700px) {
    .rightContent .Items{
        display: none;
    }

    .title{
        font-size:  25px;
    }
    .text{
        font-size: 16px;
    }
   
    .contentAbout{
        padding: 0;
    }
    .imageGall{
        width: 100%;
        margin-bottom: 20px;
    }
}